<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Vpn Tester | Your All In One Vpn Testing App</title>
</head>

<body>
    <!-- header  -->
    <!-- header/ logo  -->
    <!-- header /links  -->
    <!-- header/links/link>aboutus to linkedIn -->
    <header class="header">
        <div class="header__brand">$ Vpn Tester</div>
        <div class="header__tool-box">

        </div>
    </header>




    <!-- main-block -->
    <!-- form  -->
    <!-- btn: test my vpn -->
    <section class="main-block">
        <div class="main-block__content">
            <h4 class="main-block__heading">
                $_here will be desplayed you vpn test resaults.
            </h4>
            <ul class="main-block__list list">
                <li class="list__item details">
                    <strong class="details__key">$>_is vpn enabled:</strong>
                    <% if(response.data){ %>
                        <%= response.data.security.is_vpn  %>.
                            <% }else{   %>
                                test to get resaults.
                                <% } %>
                </li>
                <li class="list__item details">
                    <strong class="details__key">$>_current ip address:</strong>
                    <% if(response.data){ %>
                        <%= response.data.ip_address  %>.
                            <% }else{ %>
                                test to get resaults.
                                <% } %>


                </li>
                <li class="list__item details">
                    <strong class="details__key">$>_current geo location:</strong>
                    <% if(response.data){ %>
                        <%= response.data.country  %>.
                            <% }else{ %>
                                test to get resaults.
                                <% } %>


                </li>
                <li class="list__item details">
                    <strong class="details__key">$>_current geo location code:</strong>
                    <% if(response.data){ %>
                        <%= response.data.country_code  %>.
                            <% }else{ %>
                                test to get resaults.
                                <% } %>


                </li>
                <li class="list__item details">
                    <strong class="details__key">$>_current address continent:</strong>
                    <% if(response.data){ %>
                        <%= response.data.continent  %>.
                            <% }else{ %>
                                test to get resaults.
                                <% } %>


                </li>
                <li class="list__item details">
                    <strong class="details__key">$>_current geo longitude:</strong>
                    <% if(response.data){ %>
                        <%= response.data.longitude  %>.
                            <% }else{ %>
                                test to get resaults.
                                <% } %>


                </li>
                <li class="list__item details">
                    <strong class="details__key">$>_current geo latitude:</strong>
                    <% if(response.data){ %>
                        <%= response.data.latitude %>.
                            <% }else{ %>
                                test to get resaults.
                                <% } %>


                </li>
            </ul>
        </div>
        <div class="main-block__forms">
            <Form class="main-block__form form" method="POST" action="/test">
                <button class="btn btn-rounded btn--green form__btn">Test my Vpn</button>
            </Form>
            <Form class="main-block__form form" method="POST" action="/reset">
                <button class="btn btn-rounded form__btn">Reset  Test</button>
            </Form>
        </div>
    </section>


</body>

</html>